:root{
    --primary-color: #03045e;
    --secondary-color: #0077b6;
    --accent4-color: black;

    --heading-font: Montserrat Bold serif;
    --text-font: Open Sans;
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--text-font);
    color: var(--accent4-color);
    text-align: center;
}   

header, main, footer {
    width: 100%;
    margin: 0 auto;
}

header{
    background-color: rgb(48, 48, 48);
    grid-template-columns: 1fr 4fr;
    padding: 18px;
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo img{
    width: 100px;
    object-fit: contain;
}

.nav-links{
    list-style: none;
    display: flex;
    margin-left: 5rem; 
    gap: 15px;
}

li a {
    text-decoration: none;
    color: white;
    transition:  0.3s ease;
}

li a:hover{
    color: #0077b6;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}


 p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a{
    text-decoration: none;
}





.hero , h4{
    top: 200px;
    width: 100%;
    padding: 1px;
    text-align: center;
    color:black;
}

.hero h1, section h1{
    padding: 1rem;
}

.contact {
    color: black;
    text-align: center;
    text-decoration: none;
}

.employee-profile{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
}

.employee-profile figure{
    text-align: center;
    width: 150px;
}

.employee-profile img{
    width: 100%;
    height: 100px;
    border-radius: 8px;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #f0f0f0;
}
.socialmedia {
    display: flex;
    gap: 10px;
}