:root{
    --primary-color: #03045e;
    --secondary-color: #0077b6;
    --accent1-color: rgb(0, 180, 216);
    --accent2-color: rgb(144, 224, 239);
    --accent3-color: #caf0f8;

    --heading-font: Montserrat Bold serif;
    --text-font: Open Sans;
} 

body{
    background-color: var(--accent1-color);
}

header,main, footer{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 200px;
    height: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
h1,h2{
    font-family: var(--heading-font);
    color: #ffff;
}
p{
    color:#ffff;
    font-family: var(--text-font);
    display: block;
    margin-block-start: 1rem;
    margin-block-start: 1rem;
    margin-inline-start: 0rem;
    margin-inline-end: 0rem;

}
nav a{
    text-decoration: none;
    color:beige;
    padding-left: 2rem;
    font-size: 1rem;
}
.hero{
    position: relative;
    margin: auto;
}

.hero h1{
    position: absolute;
    top: -0.5rem;
    left: 0;
    right: 0;
    text-align: center;
    Padding: 1rem;
  /*background-color:rgb(12 12 12 / 0.5);
    font-size: 2rem; */
}

.hero article{
    position: absolute;
    top:6rem;
    left: 2rem;
    right: 2rem;
    
}
.hero article img{
    width: 150px;
    float: right;

}
.hero article p{
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.5rem;
}

article{
    position: relative;
    top: 65px;
    margin: 5px;
    padding: 1rem;
    text-decoration: justify;
    background-color: rgba(12, 12, 12, 0.5);
    border-radius: 1rem;
}
article img{
    width: 200px;

}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}


li {
    font-family: var(--text-font);
    display: inline-block;    
    text-decoration: none;
    text-align: center;
    color: white;
    transition: 0.5s ease;

}
ul:hover li a {
    color: gray;
}

ul:hover li a:not(:hover){
    color: white;
}

footer{
    margin-top: 30px;
    border-top: 1px solid#000000;
    text-align: center;
}

.sociallinks{
    display: block;
    margin-block: 2rem;
    
}

section img{
    display: flex;
    flex-direction: column;
}