*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

.temple{
    color: darkblue;
    padding-top: 2rem;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(138, 138, 138, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

aside img {
    width: 200px;
    height:auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid#7c7c7c;
    text-align: center;
    color: #6d6a6a;
}
